/* Estilos de CSS */
body{
    background-color:white;
    color: rgba(27, 27, 27, 0.952);
    box-sizing: border-box;
}
header{
    background: #7F5959;
    color: black;
    padding-top: 25px;
    box-shadow: 10px 2px 8px #2e2d2d;
}
section{
    font-size: 20px;
    font-weight: 700;
}
h1, h4, h3{
  font-family: 'Pacifico', cursive;
}
p{
  font-family: 'Cabin Condensed', sans-serif;
}
.title{
  margin-left: 11%;
}
.text, .text2{
  text-align: justify;
  margin: 30px;
  background-color: #E0E0E0;
  border: 2px dashed black;
  padding: 10px;
}
.text{
  margin-left: 15%;
}
.top{
  z-index: 1000;
}
.effect{
  transform:translate(0px,0px);
  -webkit-transition: all 500ms ease-in-out; // IE 9
  -ms-transition: all 500ms ease-in-out; // Safari and Chrome
}
.effect:hover{
transform: translate(0px, -100px);
-ms-transform: translate(0px, -100px);
-webkit-transform: translate(0px, -100px);
}
.center{
  position: absolute;
  top: 80%;
  left: 45%;
}
