/* Estilos de CSS */
body{
    background-color:white;
    color: rgba(27, 27, 27, 0.952);
}
header{
    background: linear-gradient(to top left, #40b1fc 0%, #72e8f8 100%);
    color: black;
    height: 65px;
    margin-bottom: 15px;
    box-shadow: 10px 2px 8px #2e2d2d;
}
section{
    font-size: 20px;
    font-weight: 700;
}
.top{
  z-index: 1000;
}
.effect{
  transform:translate(0px,0px);
  -webkit-transition: all 500ms ease-in-out; // IE 9
  -ms-transition: all 500ms ease-in-out; // Safari and Chrome
}
.effect:hover{
transform: translate(0px, -100px);
-ms-transform: translate(0px, -100px);
-webkit-transform: translate(0px, -100px);
}
.center{
  position: absolute;
  top: 80%;
  left: 40%;
}
